# Json to SQL:

In [ ]:
import json
import os
aqi_list = []

beijing_api = os.environ.get('AQI_api_key')
def get_aqi(city):
    url = f'https://api.waqi.info/feed/{city}/?token={beijing_api}'
    response = requests.get(url).json()
    print(city)
    print(response['status'], type(response['status']))
    pprint(response)
    
    # if api successful return city's corresponding AQI
    if response['status'] == 'ok':
        aqi_list.append(response["data"]["aqi"])
    else:
        aqi_list.append(None)
        pass

In [ ]:
from itertools import chain, repeat

from pprint import pprint
import pandas as pd
import requests

# loading json file into data variable
with open('static/db/sample.json') as f:
    data = json.load(f) 


chainer = chain.from_iterable
countries_cities_df = pd.DataFrame.from_dict({'Countries':list(chainer(repeat(k, len(v)) for k,v in data.items())),
                            'Cities':list(chainer(data.values()))})

# Loop through each row in DataFrame and fill up AQI column with corresponding city.
for index, row in countries_cities_df.iterrows():
    city = countries_cities_df.Cities[index]
    # call function and append aqi data to corresponding city.
    get_aqi(city)

# create AQI data as new column

countries_cities_df

In [ ]:
countries_cities_df["AQI"] = aqi_list
countries_cities_df

In [ ]:
countries_cities_df.Cities[1]

In [ ]:
for idx, row in countries_cities_df.iterrows():
    city = countries_cities_df.Cities[idx]
    print(city)

# Connecting to MySQL db using pymysql:

### Using SQLAlchemy:

In [23]:
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+pymysql://root:Gksmf12#@localhost:3306/new')


# sql table to df
# df = pd.read_sql_table("about", engine)
# print(df)

In [24]:
# use sql query to get data

df.to_sql(name="table_name",
         con=engine,
         index=False,
         if_exists='append')

In [15]:
df.head()

   ID           name FirstName LastName   age new_column second_new_column
0   1     Hanna Jung     Hanna     Jung  28.0       None             Hello
1   2     Haneul Kim    Haneul      Kim  26.0       None             Hello
2   4  Stephen Curry   Stephen    Curry  35.0       None             Hello
3   5     Haneul Kim    Haneul      Kim  26.0       None             Hello
4   9            Tom       Tom     None  30.0       None             Hello

### Using PymySQL:

In [10]:
import pymysql
import pandas as pd

conn = pymysql.connect('localhost', 'root', 
    'Gksmf12#', 'hanna')

df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})

# creating table named "df" if exists, replaced.
df.to_sql(con=conn, name="df", if_exists='replace')

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting

In [ ]:
# insert data into MySQL
with conn:
    cursor = conn.cursor()
    query = "INSERT INTO about (name, FirstName, LastName, age) values ('test2', 'first', 'last', 13)"
    cursor.execute(query)

In [ ]:
# fetch data from DB
with conn: 
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM about")
    rows = cursor.fetchall()
    
    for row in rows:
        print(row)